@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100;400;500&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
html,body{
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 10px; */
  /* background: linear-gradient( to bottom right, rgb(30, 101, 182), rgb(31, 177, 50)); */
  flex-direction: column;
  width: 100vw;
 background-color: rgb(172, 165, 165); 
}
.container1{
  /* max-width: 700px; */
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 1.5rem;
  font-weight: 500;
  position: static;
}
#getintouch{
  font-size: 3rem;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 1.4rem;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 2px solid #ccc;
  /* border-bottom-width: 2px; */
  transition: all 0.3s ease;
}
.req{
  padding: 4px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #36a193;
}
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   
   margin-left: 31%;
 }
 form .button input{
   height: 100%;
   width: 50%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   background: linear-gradient( to bottom right, rgb(30, 101, 182), rgb(31, 177, 50));
   margin-right: auto;
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient( to bottom right, rgb(24, 78, 139), rgb(23, 136, 38))
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    /* max-height: 300px; */
    /* overflow-y: scroll; */
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }

  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
/* Additions */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin-top: 0;
}
html{
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header{

  background-color: #4267b2;
  height: 6rem;
  width: 100%;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  
  
  
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
}
.footer{
  font-size: 1.5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  padding: 1.9rem 1rem;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: white;
}
.nav-logo:hover{
  color: white;
 }
.nav-item :hover{
  color: white;  
  background-color: #fff;

}
.nav-item:hover .nav-link{
  color: #4267b2;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 4.9rem;
      flex-direction: column;
      background-color:#4267b2;
      width: 100%;
      /* border-radius: 10px; */
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
          margin-top: 0;
          border-top: 2px solid white;
  }
  .nav-menu.active {
      left: 0;
  }
  .header{
    height: 5rem;
  }
  .navbar{
    
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      margin-top: 0;
  }
  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
  /* Service cards */
  .services{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
  }
  .card__inner{
      width: 70%;
      height: 10%;
  }
  /* Heading */
  .heading{
      font-size: 1rem;
      display: block;
          margin: 0;
          line-height: 1em;
          font-family: 'Oswald', sans-serif;
          font-weight: bold;
          font-size: 4rem;
          background: linear-gradient(to right, #1c87c9 49%, #8ebf42 50%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 1.5rem;
  }
  .main1{
      text-align: center;
      font-size: 2rem;
  }
      .nav-lin h1{
      align-items: center;
      justify-content: center;
  }
}
footer{
  font-size: 1.5rem;
}